html {
    background-color: #2A3035;
    color: silver;
}

a {
    color: silver;
}

/* Grid to display everything */
pre {
    overflow-y: auto; /* Use auto instead of scroll */
    /* max-height: 200px; */
    background-color: #24242490;
    margin-right: 10px;
    border-radius: 10px;
}

/* Ensure scrollbar appears only when there's overflow */
pre::-webkit-scrollbar {
    width: 0; /* Set width to 0 to hide scrollbar */
    background: #2A3035;
    border-radius: 10px;
}
pre::-webkit-scrollbar-thumb {

    background: #20283575;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

button {
    background-color: #24242490;
    color: silver;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
}

/* Code for the box where all of the chatting happens */

.talkBox {
    
    background-color: #242424;
    width: 600px;
    height: 98vh;
    flex-direction: column;
    /* center main chat */
    display: flex;
    margin: auto;
    /* Border css */
    border-radius: 10px;
    border-style: inset;
    border-width: 1px;
    border-color: black;
}

.output {
    height: calc(100% - 63px);
    overflow-y: auto;
}

.left {
    padding: 10px;
}

input {
    all: unset;
    background-color: #24242490;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
}

/* Styling the checkbox */
[type="checkbox"] {
    /* Define custom dimensions */
    width: 20px;
    height: 20px;
    /* Add custom border and background */
    background-color: #24242490;
    /* Add some padding for better appearance */
    padding: 2px;
    /* Add rounded corners */
    border-radius: 10px;
    /* Add cursor pointer */
    cursor: pointer;
    /* Hide default checkbox appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add custom checkmark */
    position: relative;
}

/* Style for custom checkmark */
[type="checkbox"]::before {
    content: '\2714'; /* Unicode character for checkmark */
    font-size: 16px; /* Adjust size as needed */
    color: transparent; /* Hide the checkmark initially */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style for checked checkbox */
[type="checkbox"]:checked::before {
    color: #ffffff; /* Color of the checkmark when checked */
}

.textToSpeechToggleContainer {
    padding-top: 10px;
}

textarea{
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    color: silver;
    background-color: #24242490;
}

select {
    background-color: #24242490;
    border-radius: 10px;
    color: silver;
    border-style: solid;
    border-color: black;
    padding: 3px;
}

select option {
    background-color: #242424;
    border-style: inset;
}

.input {
    /* Background color, to be changed later? */
    background-color: #2a303590;
    max-height: 200px;
    padding: 10px;
    align-content: baseline;
    margin: 10px;
    /* border css */
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}


.inputBox {
    all: unset;
    /* width is set so that there is room for buttons in future */
    width: calc(100% - 70px);
    height: 24px;
    resize: none;
    word-wrap: break-word;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    
}

/* Image Buttons */
.micToggle {
    padding-top: 10px;
    margin-right: 8px;
    width: 24px;
}

.sendButton {
    padding-top: 10px;
    width: 24px;
}

/* Code for how the messages are displayed */

.userMessageContainer {

    background-color: #2A3035;
    margin-left: 120px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

    margin-bottom: 10px;
    overflow: hidden;

    
}

.userName {
    font-weight: bold;
    text-align: right;
}

.userMessage {
    /* text-align: right; */
    padding-left: 20px;
    float: right;
}

.botMessageContainer {
    background-color: #2A303590;
    padding-left: 20px;
    margin-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

    margin-bottom: 10px;
}

.botName {
    font-weight: bold;
}

/* Code for small screens */

@media only screen and (max-width: 700px) {
    .talkBox {
        width: 97vw;
    }
    .userMessageContainer {
        margin-left: 100px;
    }
    .botMessageContainer {
        margin-right: 100px;
    }
    
}


/* Code for scroll bar */

/* Track */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2a303590;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #202835;
}